.button {
  border: none;
  background-color: var(--color-primary);
  color: var(--on-primary);
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--color-primary-hover);
  color: var(--on-primary-hover);
}

.buttonLarge {
  font-size: 1.25rem;
  padding: .75rem 1.25rem;
}
