.header {
  border-bottom: 1px solid var(--color-border);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.45rem 1.0875rem;
}

.logo {
  margin-right: .5rem;
  width: 32px;
  height: 32px;
}

.homeLink {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.heading {
  display: inline-block;
  margin: 0;
  font-family: Rhetoric, sans-serif;
}

@media (max-width: 600px) {
  .container {
    padding: .75rem 20px;
  }

  .logo {
    width: 28px;
    height: 28px;
  }

  .headerText {
    font-size: 1.5rem;
  }
}
